extends layout 

block content 
    h1= title
    p Welcome to the dnd character sheet server! The only thing you can really do here is verify the server is up and running, and view a list of all current characters and users from our db.