doctype html 
html(lang='en')
    head 
        title= title 
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='stylesheets/style.css')
    body 
        div(id='header')
            div 
                h1 Dungeons and Dragons Server
            div 
                ul 
                    li 
                        a(href='/') Home
                    li 
                        a(href='/characters') Characters 
                    li 
                        a(href='/users') Users
        block content